[2015-05-19 17:05] schoenflies opened #1 "testing waffle"

[2015-05-19 17:12] schoenflies commented on #1
testing board

[2015-05-19 17:12] #1 closed

[2015-05-26 04:22] schoenflies opened #2 "(webpack plugin) instantiate plugin interface"

[2015-05-26 04:22] schoenflies opened #3 "(webpack plugin) integrate with kenny's function"

[2015-05-26 04:23] schoenflies opened #4 "(webpack plugin) add tests"

[2015-05-26 04:23] schoenflies opened #5 "(webpack plugin) publish to npm"

[2015-05-26 04:24] schoenflies opened #6 "(grunt plugin) instantiate plugin interface"

[2015-05-26 04:24] schoenflies opened #7 "(grunt plugin) integrate with kenny's function"

[2015-05-26 04:25] schoenflies opened #8 "(grunt plugin) add tests"

[2015-05-26 04:25] schoenflies opened #9 "(grunt plugin) publish to npm"

[2015-05-26 04:25] schoenflies opened #10 "(gulp plugin) instantiate plugin interface"

[2015-05-26 04:25] schoenflies opened #11 "(gulp plugin) integrate with kenny's function"

[2015-05-26 04:26] schoenflies opened #12 "(gulp plugin) add tests"

[2015-05-26 04:26] schoenflies opened #13 "(gulp plugin) publish to npm"

[2015-05-26 04:26] #2 closed

[2015-05-26 04:29] schoenflies opened #14 "(app-react) create components"

[2015-05-26 04:29] schoenflies opened #15 "(app-koa) hook up with client"

[2015-05-26 04:29] schoenflies opened #16 "(app-db) decide on db"

[2015-05-26 04:30] schoenflies opened #17 "(app-webpack) integrate with webpack"

[2015-05-26 04:30] schoenflies opened #18 "(app) integrate travis/karma"

[2015-05-26 04:30] schoenflies opened #19 "(app) deploy"

[2015-05-26 04:34] schoenflies opened #20 "(uncss module) kenny's function"

[2015-05-26 04:34] #20 closed

[2015-05-26 04:36] schoenflies commented on #6
http://gruntjs.com/plugins

[2015-05-26 04:37] schoenflies commented on #10
https://github.com/gulpjs/gulp/blob/master/docs/writing-a-plugin/README.md

[2015-05-26 04:39] schoenflies opened #21 "(app-feature) extract css/html/js from url"

[2015-05-26 04:39] schoenflies opened #22 "(app-feature) create performance dashboard"

[2015-05-26 04:42] schoenflies opened #23 "(webpack plugin) core functionality"

[2015-05-26 04:44] schoenflies opened #24 "(purify module) publish to npm"

[2015-05-26 04:44] #24 closed

[2015-05-26 04:45] schoenflies commented on #24
npm install purify-css

[2015-05-26 04:56] schoenflies opened #25 "(webpack plugin) publish to npm"

[2015-05-26 04:58] schoenflies commented on #25
oops, mistakenly copied #5

[2015-05-26 04:58] #25 closed

[2015-05-26 05:56] schoenflies commented on #16
redis/liveDB

[2015-05-26 05:58] schoenflies opened #26 "(webpack plugin) document"

[2015-05-26 05:58] schoenflies opened #27 "(grunt plugin) document"

[2015-05-26 05:58] schoenflies opened #28 "(gulp plugin) document"

[2015-05-26 05:59] schoenflies opened #29 "(app) document"

[2015-05-26 20:31] #3 closed

[2015-05-26 20:33] schoenflies opened #30 "(webpack plugin) add loader"

[2015-05-26 22:36] #4 closed

[2015-05-26 22:40] #30 closed

[2015-06-14 12:22] #5 closed

[2015-06-14 12:22] #6 closed

[2015-06-14 12:22] #7 closed

[2015-06-14 12:22] #8 closed

[2015-06-14 12:22] #9 closed

[2015-06-14 12:22] #10 closed

[2015-06-14 12:22] #11 closed

[2015-06-14 12:22] #12 closed

[2015-06-14 12:22] #13 closed

[2015-06-14 12:22] #14 closed

[2015-06-14 12:22] #15 closed

[2015-06-14 12:22] #16 closed

[2015-06-14 12:22] #17 closed

[2015-06-14 12:22] #18 closed

[2015-06-14 12:22] #19 closed

[2015-06-14 12:22] #21 closed

[2015-06-14 12:22] #22 closed

[2015-06-14 12:22] #23 closed

[2015-06-14 12:22] #26 closed

[2015-06-14 12:22] #27 closed

[2015-06-14 12:22] #28 closed

[2015-06-14 12:22] #29 closed

[2015-07-12 19:05] zerbons opened #38 "Doesn't work with ExtractTextPlugin?"
I use `ExtractTextPlugin` for production and receive these errors:

[code]

[code]

Loaders look like this (passed into relevant loader):
[code]

[2015-07-14 14:31] iam4x commented on #38
I'm getting the same error

[2015-07-15 13:03] iam4x commented on #38
It happens without `ExtracTextPlugin` too, I'm might be missing something.

[2015-07-15 13:14] iam4x commented on #38
I've figured out the problem, dropped a PR. Before it gets merged you can use:

`$ npm install --save-dev purifycss-loader@git@github.com:iam4x/purifycss-webpack-plugin.git#patch-1`

[2015-07-15 13:31] iam4x opened #40 "Example with `.js/.jsx` files?"
I'm trying to use PurifyCSS but without luck, I don't have an `index.html` entry file since it's an SPA bundled by webpack.

`new PurifyCssPlugin(path.join(__dirname, '../app'), '/index.js')` ?

My CSS build has the same size, ideas?

[2015-07-23 03:52] gangyal commented on #38
any updates here guys? if you fix the loader file, it's still bad. does not work with extract text.

[2015-08-25 17:06] IngwiePhoenix opened #42 "Use multiple files"
Hey.

I just figured out, with a huge facedesk involved, that there is a PurifyCSS plugin for WebPack. Previously, I used the following script to test out what actually happens when I run PurifyCSS - and the result is so drastic that I want to use it. here is the script, as I have it:

[code]

I get an "1.9 times smaller" message - and that is insane. So I want to use this with WebPack. However, t

[2015-08-30 01:03] IngwiePhoenix commented on #38
Is there an update to this?

[2015-09-08 18:36] carlosepp commented on #38
I can confirm that @iam4x patch works, let us know when you release the PR to the master branch so we update :)

[2015-09-08 19:21] IngwiePhoenix commented on #38
@carlosepp Good to know. I wrote my own plugin for the meantime that works, so I am good to go. :) But it'd be nice to use a more official one.

[2015-09-08 19:50] carlosepp commented on #38
@IngwiePhoenix , I am curious if you open sourced the plugin?, would like to see what you came up with, actually it worked well testing in local environment but it throws me an error in production:

```npm ERR! Cloning into bare repository '/app/.npm/_git-remotes/ssh-git-github-com-iam4x-purifycss-webpack-plugin-git-5d13d3b1'…``` @iam4x , I would really appreciate you let us know when you merge th

[2015-09-08 20:11] IngwiePhoenix commented on #38
@carlosepp
https://github.com/DragonsInn/BIRD3/tree/master/util
Check `purify-plugin.js` and its usage within `webpack.config.js`. I am thinking of using this plus PostCSS to create a plugin that specializes purely on pressing down CSS files written out by stuff like `extract-text-plugin`'n such. :) For now, it lives within the project, but feel free to copy and re-use!

[2015-09-08 21:53] carlosepp commented on #38
@IngwiePhoenix  thanks a lot !, quite useful implementation, you da man :)

[2015-09-08 22:02] IngwiePhoenix commented on #38
@carlosepp Thanks :)

[2015-09-16 18:25] carlosepp commented on #38
@zerbons are you planning to merge [this patch](https://github.com/iam4x/purifycss-webpack-plugin#patch-1) from @iam4x and create a release anytime soon?

[2015-09-23 03:17] zerbons commented on #38
@carlosepp i do not have access... that is a question for @kennyt

[2015-09-23 03:20] #38 closed

[2015-09-26 15:52] zerbons commented on #40
@iam4x were you able to get it working at all?

[2015-11-09 20:36] iam4x commented on #42
@IngwiePhoenix Your code works great!

I've translated it to ES6 if someone wants it:

[code]

[2015-11-09 21:00] IngwiePhoenix commented on #42
@iam4x I am actually very close to opensource the plugin itself. It has been working super stable the whole time so I see no point why I should keep it an internal dependency anymore. :3
Once published, Ill let you know, and in fact, probably add a PR to the readme of this repo to have my plugin mentioned. :)

If you are curios, it did learn something very, very interesting: It can now scan all fi

[2015-11-09 21:02] iam4x commented on #42
Very nice! Thank's @IngwiePhoenix :+1:

[2015-11-09 23:25] IngwiePhoenix commented on #42
@iam4x https://github.com/DragonsInn/bird3-purifycss-webpack-plugin

[2016-01-26 03:33] #42 closed

[2016-01-26 03:34] IngwiePhoenix commented on #40
Is this still an issue? It seems to be working for me.

[2016-01-27 01:08] iam4x commented on #40
Yep :+1:

[2016-01-27 01:08] #40 closed

[2016-02-11 16:00] RahavLussato opened #44 "not supporting webpack 2"
#43

[2016-02-11 17:19] IngwiePhoenix commented on #44
I didnt test the plugin with webpack 2 yet. But if you provide me with some error output or alike, I probably can do something.

[2016-02-12 02:18] IngwiePhoenix commented on #44
Merged #43

[2016-02-12 02:18] #44 closed

[2016-02-22 15:46] RahavLussato opened #47 "support css file name with hash"
check PR #46

[2016-02-24 03:09] #47 closed

[2016-03-24 22:06] beckend opened #48 "custom templates?"
Like .jade?

[2016-03-25 17:14] IngwiePhoenix commented on #48
If it would usually work with plain PurifyCSS - it'll work here too. For instance, PurifyCSS recognizes constraints like `class="foo"` or `className="foo"` and some other. So if you _really_ want to make sure your jade templates work, try to convert them to html using `html-loader`. Just an idea, not guaranteed - I don't use Jade myself. I have used EJS, but I switched to JSX - and that works just

[2016-03-25 21:08] beckend commented on #48
Usually they look like:
[code]

Sometimes the classnames are dynamic variables, it would work just fine if this plugin can target emitted files, then the jade have been converted to html files.

[2016-03-25 22:07] IngwiePhoenix commented on #48
The plugin scans over the files to be emitted and uses the captured ones as input to PurifyCSS. You could play around with providing it with extensions to use to pick up. Because with the jade format itself, PurifyCSS likely won’t work as it wouldn’t know where the CSS names start or end (class names, ids, other specifiers that are valid constraints to create selectors, etc…). So it’ll likely use

[2016-03-25 22:42] beckend commented on #48
That's interesting, so if emitted files with paths:
[code]
Can it be scanned with this config?
[code]
Or maybe `**/*.html`? I wouldn't want the plugin to scan the whole `node_modules` tree.

[2016-03-31 09:37] oller opened #49 "Not all classes being purified."
Hi there,

I'm using the latest version of this plugin in conjunction with `ExtractTextPlugin`, it's executing fine, but isn't minifying as much as I would have expected.

For example, I have a typical bootstrap grid system component, with **all** the grid classes, `.col-xs-3`, `.col-md-offset-1`, `.col-lg-push-11` etc.  Not a single one is being removed, and I can search my codebase, and find no

[2016-03-31 11:03] IngwiePhoenix commented on #49
Hm, maybe this could be a problem in the upstream purifycss, but I am not certain. Gotta see what @kennyt has to say.

[2016-04-22 13:00] bebraw opened #52 "Accept individual path to `paths` instead of an array?"
It might be useful if `paths` allowed you to pass a single path too. Now it fails rather messily if you try this. If you decide against this, a nicer warning wouldn't hurt.

I can PR this if you want.

[2016-06-29 12:52] dhoomm opened #54 "CSS + SCSS configuration"
I load both .css and .scss as

`
{
                    test: /\.scss$/,
                    loader: ExtractTextPlugin.extract("style-loader", "css-loader!sass-loader"),
                    include: paths,
                },
`
`
                {
                    test: /\.css$/,
                    loader: ExtractTextPlugin.extract("style-loader", "css-loader"),
                    include: path

[2016-07-14 09:14] istiti opened #55 "plugin no effect with my css, sass loaders"
Hi,

I use loader
`extractCSS.extract([ 'css', 'sass' ])`

And in my plugins I add

[code]

When I build my app without purifycss plugin my css i builded and minified but when I put purifycss plugin as above, so my css is well extracted to an build.css file but two problem : it isn't minified and the big problem is my unused class are still here, no change effect!

thanks in advance

[2016-07-24 23:17] HumbleBeck commented on #55
Had same issue, but, I thing i fixed it by adding
[code]
before my config was
[code]
without 'resolveExtensions', plugin takes all from webpack's 'resolve.extensions' and if log the files variable inside plugin it would be like
[code]
so source css file in files that be passed to purify, and it thinks styles is used and doesn't remove them
if add 'resolveExtensions: ['.html']' path variable would

[2016-08-06 11:04] elover opened #56 "Could you provide me a demo?"
First of all , thanks for your plugin. While I try the plugin together with the 'LESS' and 'html-webpack-plugin' some times , but failed.
Could you help me  with  giving a more detail demo ? Cheers.

[2016-08-29 12:16] michaeldzjap opened #57 "Handlebars Compatibility"
Not sure if this is the right place to file this issue, perhaps the main purifycss repository is more appropriate, but anyway. I'm trying to use this plugin together with some Handlebars templates, like so:

[code]

But no luck. All css rules are removed (e.g. .wrapper, .navigation) and I end up with an empty file. Does this plugin only work for HTML files?

[2016-09-20 15:53] IAMtheIAM opened #58 "PurifyCSS has reduced the file size by ~0.0%"
I am having trouble getting it working. My config:
[code]
I modified the plugin so it tells me which css assets it detects. It finds 2 css bundles as it should. But then it does nothing to them.
[code]

Why is it not purifying them?

[2016-09-20 16:26] IAMtheIAM commented on #55
Wow man, thanks. It is absolutely necessary to add `resolveExtensions: ['.html']` to the Purify-Webpack-Plugin object, otherwise it thinks all css is used and does nothing. Works like a charm, now!

[2016-09-20 16:28] IAMtheIAM commented on #58
It is necessary to add `resolveExtensions: ['.html'],` to the plugin object, like this.

[code]

Now.

[code]
https://github.com/purifycss/purifycss-webpack-plugin/issues/55#issuecomment-248354694

[2016-09-20 16:28] #58 closed

[2016-09-22 06:35] Anima-t3d commented on #55
Shouldn't this be stated in the docs? I had the same issue. Thanks for the solution!

[2016-10-10 15:40] Kikobeats commented on #54
check #55

[2016-10-11 12:21] mattdell commented on #49
I'm getting a similar issue. The majority of bootstrap CSS isn't being removed.

For me, I know that the dfn element isn't used anywhere in my project yet this CSS stays put.

[code]

[2016-10-14 11:18] ekropotin commented on #49
Have the same issue with purifying classes of pureCSS.

[2016-10-17 18:49] dmackerman commented on #54
You'll need to configure the `resolveExtensions` config.

[code]

[2016-11-13 13:32] andreiconstantinescu opened #59 "css modules + purifycss plugin = no css"
Hey :)

I've been trying to use css modules and the purifycss plugin but with no luck :(
I am using `webpack2` and `extract-text-webpack-plugin`.

webpack config:
[code]

result:
[code]

Can somebody help me with this?
All that I want is that `style.css` to have just the classes I use, not all of them.

Thank you!

[2016-11-21 18:43] kevin-miles commented on #59
@andreiconstantinescu

the following works fine for me:

[code]

i believe its not working on your end because you are not passing it a glob in paths.

[2016-11-24 10:52] bebraw commented on #55
Same. Please add it to the docs, or even better, set it as a default and document how to change it.

[2016-12-11 11:52] 0xR commented on #59
You didn't pass any `paths` to purifycss-webpack-plugin so I can imagine that purify doesn't find any used classes.

I have been trying to do the same with CSS modules and even passing a paths does not help. I suspect the issue is that with CSS modules the actual classnames are only written to disk after the JS bundle has been emitted. It looks like purifycss-webpack-plugin is running before that

[2016-12-11 12:41] 0xR commented on #59
Running purify-css manually after webpack does work.

However I can imagine that if you're doing longterm caching using the file contents as a hash can result in issues if you run purify after the hash has been determined. For example if you run purify with different options or with a different version the resulting css will be different, but clients won't see this when the hash of the file remain

[2016-12-13 05:22] mnasyrov opened #60 "Webpack2 support"
First of all, thank for the plugin!

Does it support webpack2 officially?
I got 'unmet peer dependency' npm warning when install the plugin together with webpack2.
[code]

[2016-12-22 19:52] dmt0 opened #61 "React / Webpack app"
Hi!
Trying to config this in my project, and so far no effect on css, and no output during build. Here's my webpack config:

    new ExtractTextPlugin('bundle.css'),
    new purifycss({
      basePath: path.join(__dirname, '../src'),
      resolveExtensions: ['.html', '.js'],
      paths: [
        '../src/**/*.js',
        'index.html',
      ],
      purifyOptions: {
        minify: true,

[2016-12-23 22:46] jachaf6746 commented on #60
+1

[2016-12-24 08:06] muminoff commented on #60
+1

[2016-12-30 01:02] Tibfib commented on #60
This seems to work just fine in webpack2... Any word on official support?

[2017-01-07 17:20] bebraw commented on #61
I think you need to set `resolveExtensions: ['.html']`. Otherwise it will go through `node_modules/react` and pick up all sorts of classes from there. That effectively breaks purifying.

[2017-01-09 07:50] CrashyBang opened #62 "Removing used css"
So I have the following css:

[code]

Which after purifying is looking like this:

[code]

I am running with webpack 2.

[2017-01-09 16:43] bebraw commented on #56
There's a little demo at the repo itself now. Note that it's using a new API (not published yet).

[2017-01-09 16:43] #56 closed

[2017-01-09 16:53] #52 closed

[2017-01-09 17:29] bebraw commented on #60
This definitely works with webpack 2. I have a little demo at the repository now.

[2017-01-09 17:29] #60 closed

[2017-01-09 17:30] #61 closed

[2017-01-09 17:31] bebraw commented on #48
@beckend I'm working on a new version that should achieve just that (now path management is on the user side) although the current stable version might work too.

[2017-01-09 17:31] #48 closed

[2017-01-09 17:32] bebraw commented on #49
If you are using React, please set `resolveExtensions: ['.html']`.

Feel free to open issues with more detail so it's easier to debug what's going on.

[2017-01-09 17:32] #49 closed

[2017-01-09 17:33] bebraw commented on #54
Closing in favor of #55.

[2017-01-09 17:33] #54 closed

[2017-01-09 17:34] bebraw commented on #59
Closing as this was answered. Feel free to re-open if relevant still.

[2017-01-09 17:34] #59 closed

[2017-01-09 17:37] bebraw commented on #62
Can you set up a standalone project? I can't reproduce this.

[2017-01-09 19:27] CrashyBang commented on #62
Hey @bebraw yep will do as soon as I am off work.

[2017-01-10 23:17] dmt0 commented on #61
Tried that, same result.

[2017-01-11 05:31] bebraw commented on #61
I would need a standalone example to say anything concrete. If you can set up a repo, that would be great.

[2017-01-11 07:01] bebraw commented on #57
Can you try against vanilla purify so we can rule out a plugin specific issue?

[2017-01-11 18:42] michaeldzjap commented on #57
I kinda ditched handlebars for an all React solution by now, so I am not really concerned about this issue anymore. Maybe I should close it then? Or perhaps someone else is willing to take this up.

[2017-01-11 19:05] bebraw commented on #57
Yeah, let's close. Thanks. 👍

[2017-01-12 20:53] CrashyBang commented on #62
Hey @bebraw sorry have had a hectic last few days but planning to get onto this over the weekend.

Cheers.

[2017-01-13 08:40] #55 closed

[2017-01-14 22:15] Chrischuck commented on #62
I'm having a similar issue where all my css(using bootstrap 3 and inline styles for react)  are getting wiped. Purify says 40.6% of my css has been reduced, so theres still css, but the ones I use get tossed out.

These are my plugins
<img width="427" alt="screen shot 2017-01-14 at 2 02 48 pm" src="https://cloud.githubusercontent.com/assets/13311268/21958454/9e037c20-da63-11e6-9709-65e63ae3fb12.pn

[2017-01-15 10:41] klis87 commented on #59
Is it possible to allow it to work together with Webpack for css modules? 0xR's solution would work in theory but running purify manually would be especially inconvenient with hashes. And, if someone uses another plugin like html webpack plugin, which automatically injects hashed files into index.html, you would need to adjust not only hashes in css files, but also their references in index.html.

[2017-01-15 10:46] bebraw commented on #59
@klis87 Given purify relies on heuristics that check whether or not some class is used or not and CSS Modules hides that information, I don't see how it could work out within the current logic.

It feels like CSS Modules would require a specific solution and that goes beyond what this plugin can provide.

[2017-01-15 10:49] bebraw commented on #62
@Chrischuck It's important to point your app source to Purify assuming you have something class related going on there. So it may be a matter of tweaking `paths`.

Note that I have a new version of the plugin coming up once either npm or @IngwiePhoenix grants me the rights to publish one.

[2017-01-15 10:56] klis87 commented on #59
Thank you @bebraw for clarifications, it definitely makes sense. So let's hope in the near future we will have this option somehow, maybe I will raise this issue on PurifyCSS plugin itself :)

[2017-01-16 22:15] beckend opened #67 "V2.0.3 paths per entry fails."
[code]

Error:
[code]

[2017-01-18 08:45] bebraw commented on #67
@beckend Hi, the GitHub readme represents the next version. You have to look up the instructions from npm. I'm still waiting a reply from npm as I need release rights and @IngwiePhoenix isn't being responsive either.

[2017-01-19 19:44] crvst opened #68 "css.charAt is not a function"
I have such error when trying to use the plugin.

Here’s how I’ve set up the CSS loaders:

[code]

First and second are for processing Stylus styles and CSS modules, the third is just to move CSS containing base64 encoded WOFF(2) fonts into build dir.

Here’s the setup of ExtractTextPlugin:

   `new ExtractTextPlugin('static/css/[name].[contenthash:8].css')`

And finally the PurifyPlugin:

[code]

[2017-01-19 19:50] bebraw commented on #68
Are you using the Git version? I haven't published it to npm yet (problems with npm, I have to rename the package etc.). Can you set up a standalone example?

[2017-01-19 21:18] crvst commented on #68
Sorry, I didn’t understand you. I've installed the package from npm and tried the version from Github, but the result is the same. But I don't see any sense in it, because they have the same version `2.0.3`. I'll try to provide a small example to reproduce this behaviour.

[2017-01-19 21:23] bebraw commented on #68
The GitHub version has some serious improvements in it. The API is completely different than in the npm one, though. Your code will fail if you run it against the npm version with your config above.

This is why I asked for a standalone example (mentioned in the issue template too!).

[2017-01-20 08:23] crvst commented on #68
🤷

Anyway the bug is still here, I will send you a sample to reproduce it

[2017-01-23 08:20] crvst commented on #68
Ah, it's not so easy to reproduce this behaviour at a small sample, need some time for that

[2017-01-23 08:21] bebraw commented on #68
@crvst No probs. I'll rename this plugin today and do some maintenance. Time to get a version out there.

[2017-01-23 10:08] bebraw commented on #68
Hi,

I published the [new version](https://www.npmjs.com/package/purifycss-webpack). Please adapt your setup to that and see if that helps. I added `verbose` flag that should help in debugging.

[2017-01-23 10:08] bebraw commented on #67
@beckend The [new version](https://www.npmjs.com/package/purifycss-webpack) is out. Please give that a go.

[2017-01-23 10:08] bebraw commented on #62
There's a [new version](https://www.npmjs.com/package/purifycss-webpack) now. Please give that a go.

[2017-01-23 13:40] beckend commented on #67
Get different error using exact same thing in my first comment:
[code]

[2017-01-23 14:07] bebraw commented on #67
@beckend Can you set up a small GitHub repository showing the error? That will allow me to patch it the right way. Some little assumption is wrong in the code.

[2017-01-24 07:38] crvst commented on #68
Sadly, the update didn't help. The process likely even doesn't reach that verbose log part. All I see is a node error stack trace.

[code]

[2017-01-24 08:05] bebraw commented on #68
If you can set up a small repository showcasing the issue, I don't mind digging into it.

Can you see why/where [css package](https://www.npmjs.com/package/css) is used? I haven't seen that on webpack projects before.

[2017-01-24 08:09] crvst commented on #68
Is there a quick way to know what dependecy relies on it?

[2017-01-24 08:26] bebraw commented on #68
`npm ls` I think.

[2017-01-24 08:29] bebraw commented on #68
One option is that you have something like `loaders: ['css', ...]` somewhere in your configuration. That will pick up `css` over `css-loader` if you have both installed. I would rewrite loader definitions with `-loader` suffix anyway.

[2017-01-24 08:38] crvst commented on #68
Well, umm, the only place where `css` is used the plugin, hope I understand you right.

[code]

[2017-01-24 08:41] crvst commented on #68
[code]

[2017-01-24 08:43] bebraw commented on #68
Ah, I see. It chokes at `purify-css` then. I would need a project to fix this unless you feel like digging in. 👍

[2017-01-24 08:46] crvst commented on #68
OK, thanks, I need some time to reproduce it at a small project!

[2017-01-24 08:53] bebraw commented on #68
Alright. It's weird `verbose: true` doesn't show anything as `purify` is triggered **after** that. But I'll know more once I have some code to study.

[2017-01-25 08:42] beckend commented on #67
Will do in the weekend when i'm off, the current plugin was tested on a huge project.

[2017-01-25 08:44] bebraw commented on #67
Ok, cool.

I added stricter validation yesterday so that should catch possible configuration related problems.

[2017-01-25 15:18] beckend commented on #67
I found this in the schema:
[code]
Are you saying the item property in the object can only be string?
I mean it's going to be an array of strings in my case.

[2017-01-25 15:24] beckend commented on #67
these are the options I logged in the plugin before validation:
[code]
Then it fails with:
[code]

[2017-01-25 15:26] beckend commented on #67
With the above and reading the schema, it passes validation if I change "extensions" to "fileExtensions" since you updated the plugin.

[2017-01-25 15:26] bebraw commented on #67
Ok. Check out the `fileExtensions` and `moduleExtensions` properties. `extensions` was removed as it was unclear.

[2017-01-25 15:27] bebraw commented on #67
Yup. The split was on purpose. I can change the naming as `fileExtensions` feels too vague.

[2017-01-25 15:59] beckend commented on #67
Ok I tried to replicate on a smal repo, wasn't successful.
So I temp open my repo which is a skeleton boilerplate at https://bitbucket.org/linken/webpack-boiler-ts
branch is `purify-css-1`

Instructions to get it running:
1. `npm -g i yarn gulp-cli`
2. `yarn` - to install deps
3. ```NODE_ENV='production' gulp clean:build build:web```
And I get some really weird error.

Please let me know if you de

[2017-01-25 16:03] beckend commented on #67
webpack configs are in `internals/webpack`

[2017-01-26 11:14] bebraw commented on #67
@beckend Hi, I got it running. After I hit build as instructed, it gets stuck on `92% chunk asset optimization` while taking all my CPU (new quad core). Is that to be expected? Note that I'm running Node 6, not 7.

What kind of error are you getting? Can you simplify the project somehow while still retaining it?

[2017-01-26 11:18] bebraw commented on #67
Nm. The error is above (`TypeError: Path must be a string. Received undefined`). Still, it would be fun to get this running so I can debug and fix. Most likely it's missing some check against webpack in some very specific case. 👍

I could likely fix this blind (extra `filter`), but I'll wait for a simplified project so it's easier to see what's really going on.

[2017-01-26 11:20] bebraw commented on #67
You can likely simplify

[code]

to include **only** styling files (so just `css`, `sass` etc.). That might help a notch. I actually renamed that field to `styleExtensions` to communicate the meaning better.

[2017-01-26 12:00] beckend commented on #67
When I debugged last time, I hit this line which yields undefined, thus the error you saw.
https://github.com/webpack-contrib/purifycss-webpack/blob/master/src/search.js#L18

[2017-01-26 12:14] bebraw commented on #67
Yup. It's that `path.extname(file)`. What if we added a check against `file` and bailed if it's not there? I think I'll add just that.

[2017-01-26 12:20] bebraw commented on #67
I included the check in `0.3.1` as it definitely doesn't hurt. Feel free to close this issue once you can verify this has fixed the issue.

[2017-01-26 16:35] beckend commented on #67
Progress, it now hits the next thing:
https://github.com/webpack-contrib/purifycss-webpack/blob/master/src/index.js#L41
[code]

[2017-01-26 16:36] beckend commented on #67
Basically it's the same problem as the search one, where `paths[chunkName]` is undefined.

[2017-01-26 16:40] bebraw commented on #67
@beckend I see the problem. Your uglify config has `desktop`, but your entries are named like `entry-desktop`. Because of that mismatch, it crashes right there.

I think I'll add extra validation against that case so it's possible to detect early on.

[2017-01-26 16:45] beckend commented on #67
I think you hit the nail with that!
This should also mean that the search function thing you worked on should be reverted, and should throw an error there instead.
It now works.

[2017-01-26 16:46] bebraw commented on #67
The search check is fine. It doesn't hurt to avoid runtime errors. 👍

I'll close this issue after I have that other check in place.

[2017-01-26 16:53] beckend commented on #67
Alright thanks, I have another issue where the purified build does not look like the unpurified build.
Will open another thread when I'm done with my confirmation.
I'll leave this one for you.

[2017-01-26 17:06] beckend opened #69 "Purified build does not match unpurified one"
To debug I simply included all my relevant files into the `paths`:
[code]

The css is then purified, but it looks like it's missing styles when I launch it in the browser.

[2017-01-26 17:09] bebraw commented on #69
Can you simplify your earlier demo project to showcase this issue? It's easier to see where it fails then.

[2017-01-26 17:27] beckend commented on #69
I am on it, note that purification does not really fail, it just strips away too much.

[2017-01-26 17:39] bebraw commented on #69
Yeah, sounds like it's missing some classes. It's either missing files or failing to process certain type of code. But we'll know better once you narrow it down. 👍

[2017-01-26 20:18] jeggett opened #70 "example build error"
I git clone your repo and `cd examples && npm i && npm run build`
Got this error:
[code]

Maybe this line `const PurifyCSSPlugin = require('../');` from webpack.config.js caused that?

[2017-01-26 20:22] bebraw commented on #70
Hi,

Did you `npm i` at the project root too? You may have to `npm run build` there too as otherwise it might not resolve to the code as it's precompiled.

I'll add more docs on this.

[2017-01-26 20:30] jeggett opened #71 "paths parameter wrapped in an object causes TypeError"
When I set `paths` parameter like in `paths: glob.sync(`${PATHS.app}/*`),` everything is fine.
But when I use array of paths like that
[code]
I got this error
[code]

[2017-01-26 20:32] bebraw commented on #71
The key has to match to an entry. I'll add a check to guard against that tomorrow,

[2017-01-26 20:34] jeggett commented on #70
No, sorry. =( I didn't think about that. Probably because I never stumbled on such `require(../)` when I run examples in other projects repositories.

[2017-01-26 20:37] jeggett commented on #71
What does mena 'match against entry' in simple terms? I have `app` entry.
[code]

[2017-01-26 20:59] beckend commented on #69
Finally, here it is, I managed to repro.
https://github.com/beckend/webpack-debug-1
Ignore the build error, it's just `react-toolbox` which has faulty typings - it's harmless.

Try the `yarn dev` command after install and open browser to see how it looks.
Then build the production build and open `build/index.html` to see purified result.

The repo is always using extract text plugin regardless of

[2017-01-27 09:14] #67 closed

[2017-01-27 09:20] #70 closed

[2017-01-27 10:18] #71 closed

[2017-01-27 10:25] bebraw commented on #71
I added improved handling so it should be able to deal with `<key>: <path>` kind of case. webpack doesn't normalize that situation at all so I had to write the normalization step myself to force it into an array.

There's also stricter validation in place now.

[2017-01-27 10:29] bebraw commented on #69
Thanks. Can you point out a specific class that's missing from the build result?

[2017-01-27 11:57] beckend commented on #69
Sure, the only class that I defined in the whole project which becomes `index-default-local_AppBar_2lK` after the css-loader through local css transformation is not there.

Css loaded from example `flexboxgrid` package, which is also local css scoped is missing - one example is class `flexboxgrid_col-xs-12_3qH`.

Css loaded from `react-toolbox`, which is also local scoped are missing - one example

[2017-01-27 12:13] beckend commented on #69
I'm guessing the plugin only manage to get the css classes before the local scope transformation occurs.

[2017-01-27 12:21] bebraw commented on #69
I think I understand a little better now what's going on. The relationship between the code and flexboxgrid is implicit through `const { Grid, Row, Col } = require('react-flexbox-grid');`. It's that `react-flexbox-grid` that uses the classes.

I could add better hooks for including specific node modules for Purify to parse. I think in this case we could set `moduleExtensions: ['.js']` and `exclude

[2017-01-27 12:24] beckend commented on #69
Well `react-flexbox-grid` imports `flexboxgrid` css, https://github.com/roylee0704/react-flexbox-grid/blob/master/src/components/Col.js#L3

It's setup in webpack config to local css load.

[2017-01-27 12:27] bebraw commented on #69
Yup, but given the import is on package side, the current setup doesn't pick it up I think. That said, perhaps setting `moduleExtensions: ['.css']` would be worth a go.

I think I'll rethink the module side anyway as it's not flexible enough right now. I guess the simplest way out would be to expose a filtering hook over multiple fields now that I think of it.

[2017-01-27 12:28] beckend commented on #69
Well, the project is built with this config currently:
https://github.com/beckend/webpack-debug-1/blob/master/webpack.config.ts#L251-L281

[2017-01-27 12:30] bebraw commented on #69
Alright, so `moduleExtensions` is like that already. I know where to look now. In the meantime, you can try enabling the `verbose` mode to see what it exactly matches.

I guess one way to hack it would be to import `flexboxgrid` from the app side, although that would bring all the related classes to the project then.

[2017-01-27 12:55] beckend commented on #69
<details>
  <summary>Files matched in verbose</summary>
/Users/linken/webpack-debug-1/node_modules/classnames/index.js

/Users/linken/webpack-debug-1/node_modules/core-js/fn/array/find-index.js

/Users/linken/webpack-debug-1/node_modules/core-js/fn/array/from.js

/Users/linken/webpack-debug-1/node_modules/core-js/fn/array/iterator.js

/Users/linken/webpack-debug-1/node_modules/core-js/fn/map.js

/

[2017-01-27 12:57] beckend commented on #69
I guess some kind of prop to match some regexes to make that import hack?

[2017-01-27 12:58] bebraw commented on #69
Yeah. I think I'll just expose the filtering mechanism better. More control then.

[2017-01-27 13:00] beckend commented on #69
You know it's basically all the styleExtensions if you think about it, but yea users might have some weird extensions, doesn't hurt to let them decide.

[2017-01-27 19:54] jeggett opened #72 "Error when providing `path` option in format `{ propName: glob.sync(...) }`"
When I set `paths` parameter in the following format
[code]
But when I use following format: `paths: glob.sync(`${PATHS.app}/*`)` everything is working fine.

I got following error:
[code]

[Link to the project](https://github.com/jeggett/webpack2_config), purify-webpack v0.4.0, node v7.4.0. OS Kubuntu Linux 16.10

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for suppor

[2017-01-27 21:30] Chrischuck commented on #62
Sorry for the late reply, I've been busy lately. I will give it a go when I get the chance!

[2017-01-28 00:10] CrashyBang commented on #62
Hey @bebraw perfect fixed my issues :) sorry it took sooo long to get back to you have been slammed, will leave open until @Chrischuck can confirm.

[2017-01-28 11:18] #72 closed

[2017-01-29 20:05] joaovpmamede opened #73 "Purifycss with Tachyons"
I was trying this plugin (version 0.4.2) with Tachyons but it seems that it adds a couple more classes than what I was expecting.

I have an example [here](https://github.com/joaovpmamede/tachyons-purifycss).
Just run `npm run build` and check the content of `dist/tachyons.css`.

On my `index.html` I'm only using the `.pa4` class from tachyons ([spacing module](https://github.com/tachyons-css/tach

[2017-02-01 19:28] jmahc commented on #69
@beckend @bebraw

I, too, have a similar use-case / need for this filtering!

My project is stripping too much CSS away (as mentioned by @beckend ).

**Note**: using `react-toolbox` in conjunction with other vendor libraries.

[2017-02-01 19:31] bebraw commented on #69
Ok, I'm a bit busy now (till Friday at least), but if someone wants to give it a stab, feel free. I think I would start from expanding the current examples, adding something that fails there, and figuring out how to solve that (might need new API and so on).

[2017-02-04 07:50] bebraw opened #74 "Expose styleExtensions and moduleExtensions as functions"
It should be possible to filter these using functions. More flexible than an array of extensions.

[2017-02-05 08:06] t47io opened #75 "Example for migrating from purifycss/purifycss-webpack-plugin"
Hi, I had no luck migrating from the old `purifycss/purifycss-webpack-plugin` to this new `webpack-contrib/purifycss-webpack`. Can anyone spot what's wrong?

My old config for `purifycss/purifycss-webpack-plugin`:
[code]

New config for `webpack-contrib/purifycss-webpack`:
[code]

No effect for any changes. Not sure if I got the `paths` correct. Should it combine the old `basePath` and `paths`, bu

[2017-02-05 08:08] t47io commented on #75
using:
[code]

used to be `purifycss-webpack-plugin 2.0.3`

[2017-02-05 08:37] bebraw opened #76 "Make sure {purifyOptions: { info: true} } works"
`verbose` flag overrides that but it should also work standalone.

[2017-02-05 08:39] bebraw commented on #75
I would need a little project to study to say anything concrete. Maybe someone else has a better idea.

[2017-02-05 16:16] martin-svk commented on #75
Hi, I have similar problem. Looks like is is very hard to figure out how to set the `path` / `paths` attribute. Tried several modifications, but no luck.

[2017-02-05 16:28] bebraw commented on #75
Little standalone projects would help to debug these.

[2017-02-08 05:35] Milewski commented on #57
almost the same issue here... my css all remains... seems nothing happens

[code]

and somewhere else in a .scss file

[code]

after compilaiton.. the output file `bundle.dc0832b85be1c37669971edfa8db533e.css`

[code]

[2017-02-08 05:37] bebraw commented on #57
Can you see anything in the verbose output?

[2017-02-08 05:40] Milewski commented on #57
@bebraw yes .. i see these

[code]

at first i thought maybe my paths were leading empty or something but logging it outputs the right array of files

[code]

[2017-02-08 05:47] bebraw commented on #57
Ok, that print comes from https://github.com/webpack-contrib/purifycss-webpack/blob/master/src/index.js#L41 . You could dig into the query above to understand why the results are empty. Maybe there are no css files to look up against? Esp. investigating `compilation.assets` might reveal a lot.

[2017-02-08 06:15] Milewski commented on #57
@bebraw the reason why it is failing to match any files is:

[here](https://github.com/webpack-contrib/purifycss-webpack/blob/master/src/index.js#L38) if i `console.log(asset.name, chunkName)` i get

[code]

so that filter function can never match any file `asset.name.indexOf(chunkName) >= 0`, because i am used a fixed name.. bundle instead of [name]..

however switching the names to allow it to m

[2017-02-08 06:23] bebraw commented on #57
Ok. There's likely some logic missing.

I'll try to look into this once I have some time (might be weeks).

[2017-02-08 07:04] Milewski commented on #57
thats alright.. meanwhile i did find the reason of the crash.. [here](https://github.com/webpack-contrib/purifycss-webpack/blob/master/src/index.js#L62) is returning me an array of array of files...

so by doing this fixed the issue and everything is working fine now

[code]

[2017-02-08 07:11] bebraw commented on #57
Ok, if you can PR a fix that would be great. Most likely the search algo needs a little tweak. It needs a test too (logic is fully covered by tests).

[2017-02-10 03:40] gfunk1230 commented on #49
@bebraw only getting PurifyCSS has reduced the file size by ~22.0%. I am trying to get rid of unused bootstrap css but I dont think 22 percent is the right number since there is more css in my project that isnt used. Could you clarify if there is anything else I need to do in order to get rid of css from bootstrap. thanks

[2017-02-10 05:11] bebraw commented on #49
@gfunk1230 Can you open a separate issue with a project to study?

[2017-02-10 16:46] bebraw opened #77 "Add strict validation against `paths`"
The plugin should check that the paths exist. Otherwise it can fail silently in this case.

[2017-02-10 16:48] bebraw opened #78 "Make sure searchAssets can flatten an array"
If assets happen to return an array of assets instead of an individual asset, the search can return an array of arrays at the moment. `search.assets` should normalize this (flatten to 1d array).

[2017-02-10 19:11] gfunk1230 commented on #49
@mattdell Did you ever get it working?

[2017-02-20 07:43] #75 closed

[2017-02-20 11:21] graemec23 commented on #49
I'm having the same issue. I have a simple React Redux SPA, I just did a audit in Chrome and it says 69% of css is not used be used. On my webpack build it says Purify reduced filesize by ~25.4%

[2017-02-20 11:25] oller commented on #49
@graemec23, just to sanity check, could it be Chrome is reporting 69% of declared classes not being used whereas purify is reporting file size reduction percentage.  Are you comparing like with like?

[2017-02-21 05:58] d3viant0ne opened #79 "JavaScript Foundation License"
The license in this repo needs to be updated at the request of the foundation.

The `LICENSE.md` need to be renamed to `LICENSE` ( no extension )

The `LICENSE` needs to have the following copy.

[code]

As a request from the JavaScript Foundation to simplify the legal issues, the update needs to be committed by @kennyt

[2017-02-21 13:39] graemec23 commented on #49
@oller I'm not comparing like for like, I thought the audit was of css not being used on the page, Its not just classes as table and h4 tags are on the list. I just thought that number was a bit low.. I am using BEM for css, could that be causing a issue with matching?

[2017-02-21 16:03] gfunk1230 commented on #49
@oller I agree with @graemec23. The number dont add up so would be great in having this looked into as I see n in other sites people discussing this issue. Purify seems like a great plugin but sadly not doing what you would expect it to do :(

[2017-02-21 18:41] bebraw commented on #79
Done in #81.

[2017-02-21 18:41] #79 closed

[2017-02-21 19:22] gfunk1230 opened #82 "Plugin is not properly removing unused classes like for example from bootstrap."
So when running the plugin I am not seeing any significant reduction and in fact I am still seeing references to css that isn't being used via bootstrap. I have followed all directions and I am seeing other experiencing the same issue such as here: https://github.com/webpack-contrib/purifycss-webpack/issues/49

![screen shot 2017-02-10 at 11 51 43 am](https://cloud.githubusercontent.com/assets/655

[2017-02-21 19:23] gfunk1230 commented on #49
@bebraw @graemec23 opened up an issue here: https://github.com/webpack-contrib/purifycss-webpack/issues/82

[2017-02-21 19:26] bebraw commented on #82
It's hard to say anything concrete based on output alone. I would need as simple as possible project to study that fails to pick up some class to say more.

[2017-02-22 14:44] jmahc commented on #69
@beckend Did you ever discover anything?

[2017-02-23 07:07] bebraw commented on #57
@Milewski Any chance for a little project to study? I have hard time figuring out the problem to fix and I can't get the fix done without.

[2017-02-23 07:07] bebraw commented on #82
Feel free to re-open with a proper example.

[2017-02-23 07:07] #82 closed

[2017-02-23 07:17] bebraw commented on #73
Looks like

[code]

fixes your use case.

The problem is that your current definition makes it to traverse each entry of your setup so you have to constrain it to a specific entry (this is by design).

After this change it picks up only global styles as you might expect.

[2017-02-23 09:14] Milewski commented on #57
@bebraw while i was making a sample i found that the issue i raised of https://github.com/webpack-contrib/purifycss-webpack/issues/57#issuecomment-278246155 was actually my mistake i was sending an array of array instead of just an array

[code]

**should be**

[code]

however the main problem is when i set my filename to a fixed name instead of using [name]

**Works**
[code]

**Doesn't work**
[co

[2017-02-23 09:20] bebraw commented on #57
@Milewski Cool. Thanks. The current code might capture the first case. An array of array should trip at validation (good extra test to add, though). The latter is more puzzling.

About `output.filename`, `[ext]` doesn't work there (by design?). This could be a webpack bug, though. I think the assumption is that it's going to be `.js` always so that might explain the current state.

[2017-02-23 09:42] Milewski commented on #57
@bebraw the`[ext]` doesn't work even when the entries are just `.js`, I had reported it as a webpack bug https://github.com/webpack/webpack/issues/4276 on the main repo but looks like a bot comes closing all the issues that wasn't following the default issue template...

[2017-02-23 09:44] bebraw commented on #57
@Milewski Thanks for bringing that up. Re-opened.

[2017-02-23 09:56] joaovpmamede commented on #73
@bebraw tried with `app` and `tachyons` but it still doesn't work.
Did you try running the example?

[2017-02-23 10:11] bebraw commented on #73
@joaovpmamede Yeah. It worked for me. The end result has comments so you'll need to minify to get rid of those too.

[2017-02-23 10:20] joaovpmamede commented on #73
Sorry to insist but did the generated css file have the `.pa4` class in it?

I've updated the repo with the generated [dist folder](https://github.com/joaovpmamede/tachyons-purifycss/tree/master/dist).
[Webpack config](https://github.com/joaovpmamede/tachyons-purifycss/blob/master/webpack.config.js#L20) also updated by your comment.

[2017-02-23 10:21] bebraw commented on #73
Nope. Here's the [output](https://gist.github.com/bebraw/a13a95744d771879cb6e86fb5d940899).

[2017-02-23 10:27] joaovpmamede commented on #73
I see, so it's still not working as expected.
I have that class in my [index.html](https://github.com/joaovpmamede/tachyons-purifycss/blob/master/index.html#L16) so shouldn't be adding it to the generated css file?

[2017-02-23 10:30] bebraw commented on #73
The entry paths are expected to be JavaScript. See [here](https://github.com/webpack-contrib/purifycss-webpack/blob/master/src/index.js#L47).

I don't mind accepting a PR that would extend that definition.

[2017-02-23 10:36] joaovpmamede commented on #73
I might not be getting how this works in the end.
I just want to get the classes defined in `index.html` on my generated css file.

[2017-02-23 10:44] bebraw commented on #73
That `app: glob.sync(path.join(__dirname, 'index.html'))` could become just `app: path.join(__dirname, 'index.html')`.

I'll re-open this issue in case someone else wants to debug.

[2017-02-23 10:54] joaovpmamede commented on #73
I'll try to work a bit on this at a later time but yes this should be open because it's not working as it should.
From my understanding and per documentation:

But it's failing to strip the other classes that I'm not using on my "view" file

Thanks

[2017-02-23 10:55] bebraw commented on #73
It's some subtle thing. I added `verbose` flag although you probably want to add more logging to the code to understand better what it's picking or not picking.

An interesting alternative would be to use Purify without webpack to rule out a Purify related issue. If that fails, there's not much to do.

[2017-02-23 10:59] joaovpmamede commented on #73
I'll try to do that.
Thank you so much for spending time and looking at this 👍

[2017-02-24 10:05] beckend commented on #69
@jmahc sorry for the late response, I have not been working on this actively. Just been really busy.

[2017-02-26 08:12] maxsalven commented on #73
I'm not sure if this is the same issue, but I'm trying to use Tachyons with React. Inside my React app, I have a class of "green". However, the resulting CSS does not have the class "green". The resulting CSS has an assortment of seemingly random classes from Tachyons instead, none of which are used in the app.

Here is a sample repo, built on an ejected "Create React App" template.
[Github Repo](

[2017-02-27 05:38] t47io opened #85 "problem with ExtractTextPlugin filename"
Hi, I have seen a problem with `PurifyCSSPlugin` under production mode. Here is my code:

[code]

This works perfectly fine when `DEBUG=true`, and I can see the verbose in console like:

[code]

However, when `DEBUG=false`, it failed to match any assets:
[code]

That's all! So I have narrowed down the problem is actually in my `ExtractTextPlugin` up there. So basically I learned this:

[code]

Is

[2017-02-27 05:47] bebraw commented on #85
Hi,

There's something going on. It has been designed to work after `ExtractTextPlugin`.

Could you set up a tiny project to study?

[2017-02-27 06:05] t47io commented on #85
@bebraw here, `src/index.js` line 35:

[code]

Basically it demands `chunkName` to be present in `filename`.

[2017-02-27 06:10] bebraw commented on #85
Ok, if you could PR a fix, that would be great.

[2017-02-27 06:16] t47io commented on #85
Well I'm afraid not. This piece of code has been in there for a long time (written by you initially, see https://github.com/webpack-contrib/purifycss-webpack/commit/1f678940f76c4ddb97057632b65129eb88d58b27), and I'm not entirely sure about how important it is to keep the plugin working.

[2017-02-27 06:36] bebraw commented on #85
Looks like it comes from `compilation.chunks`. It's some corner case the logic is missing.

I might have some proper time for this in a few weeks.

[2017-02-28 05:44] t47io commented on #85
@bebraw How about this? Instead of filtering against `name`, use `files`:

Line 33 of `src/index.js`
[code]

Do you know what else to watch out for as testing?

[2017-02-28 07:58] bebraw commented on #85
@t47io Great start. I added a couple of comments to the PR.

[2017-03-01 19:40] Vpr99 commented on #59
The best workaround I found is to add some kind of a static string to `localIdentName` in `css-loader` and then whitelist that string in PurifyCSS. Ex:

[code]

That seems to work fine for me. One funny interesting thing I thought of would be to use an emoji as your unique identifier. Just prefix all your CSS Modules classes with 🔥  or anything else you could think of. Unfortunately, the CSS parse

[2017-03-01 19:48] bebraw commented on #59
@Vpr99 Could you open a documentation PR (add to readme) for that? Too good info to be lost in a comment. 👍

[2017-03-01 19:51] bebraw commented on #85
I think we solved this. Thanks for the PR.

[2017-03-01 19:51] #85 closed

[2017-03-01 19:51] Vpr99 commented on #59
Will do when I have a sec later today :)

[2017-03-01 21:49] johakr commented on #76
Hi @bebraw, is this issue still valid?

As far as i see, if you pass `{purifyOptions: { info: true} }` it would always be passed down to purifycss as `true`, no matter `verbose` is set to `true` or `false`.

[2017-03-02 06:04] bebraw commented on #76
Yeah. It's a specification problem. Let's skip and re-open if someone thinks otherwise.

[2017-03-02 06:04] #76 closed

[2017-03-02 11:58] bebraw commented on #77
Implemented through #88.

[2017-03-02 11:58] #77 closed

[2017-03-02 18:11] johakr commented on #73
@maxsalven Don't know if you just mixed it up in the test repo. But your issue there is that you pass `paths.appBuild` instead of `paths.appSrc`. I you pass the latter path, the `green` class is included in the build.

[2017-03-03 15:53] matheusml opened #89 "Error: property missing ':'"
I have this simple Webpack 2 PurifyCSS config:

[code]

But I'm getting this error:

[code]

[2017-03-03 15:58] bebraw commented on #89
Can you link to a little project to study? I have a rough idea of what might be going on, but I have to verify my hunch.

[2017-03-03 16:10] ClinicalCharles commented on #89
I'm having the same issue, I traced it to an inline svg image just after the `base64,`:
`background:url("data:image/svg+xml;base64,PD94b`

It seems related to this post
https://github.com/reworkcss/css/issues/67

[2017-03-03 16:52] matheusml commented on #89
@ClinicalCharles that's probably it.

@bebraw does your hunch relates to that?

[2017-03-03 16:56] bebraw commented on #89
@matheusml I was thinking it could be some `css`/`css-loader` thing. A stack trace would help a lot. A standalone project would be even better.

[2017-03-03 16:56] bebraw commented on #89
A part of the problem is that reworkcss doesn't seem to be under active maintenance. If the bug is there, there's not much we can do here.

[2017-03-03 17:19] matheusml commented on #89
@bebraw
A standalone project that replicate this error is going to be really hard for now, but I'm sending the full stack trace, and the complete webpack config:

[code]

[code]

[2017-03-03 18:28] #89 closed

[2017-03-11 14:42] Kikobeats commented on #73
Using the old plugins this worked for me:

[code]

what is the equivalent code for that?

[2017-03-11 14:51] bebraw commented on #73
@Kikobeats `moduleExtensions` is the new `resolveExtensions`. You would have to `glob` `basePath` content and pass it through `paths`. `purifyOptions` is the same.

[2017-03-11 15:10] Kikobeats commented on #73
so, something like:

[code]

but it doesn't work:

[code]

[2017-03-11 15:15] bebraw commented on #73
@Kikobeats It's a good idea to pass `{ nodir: true }` to `glob` to avoid matching directories as there's nothing to read (that case could be fixed). Did you try the `verbose` mode to see what it matches? It's not picking up something. If you have time, study the code in detail. It should be easy to follow.

[2017-03-11 15:34] Kikobeats commented on #73
Logs here:

https://gist.github.com/Kikobeats/634745c9623933a4a4f6adb74a675064

I'm trying to see the differences, but using the same input as the old plugin, it si not producing the same output :(

[2017-03-11 15:40] bebraw commented on #73
@Kikobeats Could you extract a tiny project that works in the old and fails in the new plugin? The simpler, the better. That would help a ton.

[2017-03-11 15:42] Kikobeats commented on #73
yes, https://github.com/Kikobeats/react-boilerplatinum

this use the old plugin; try to update with the new 😄

[2017-03-11 16:24] bebraw commented on #73
@Kikobeats Can you try?

[code]

I think the main thing missing was `moduleExtensions`. Tachyons relies on JS by the looks of it. This gives `24.2 kB` CSS instead of `35.4 kB` so the config might still be missing something.

`styleExtensions` has to be eliminated by the looks of it. Only `css` makes sense there.

[2017-03-11 16:25] bebraw opened #90 "Drop `styleExtensions`"
It should be `['css']` always as others don't make sense with Purify.

[2017-03-31 10:17] ankibalyan opened #91 "React Component compatilibility"
is compatible with the react components and common chunks plug-in. how it should configured with this.

[2017-03-31 10:26] bebraw commented on #91
The configuration discussed at the readme should be enough. You have to be careful, though, as if you generate class names dynamically, the plugin won't be able to detect them as it relies on static analysis. This means it could eliminate rules you don't want it to eliminate. To overcome that, use purify `whitelist` (in docs).

[2017-03-31 12:11] ankibalyan commented on #91
so if I'm using bootstrap css classes in my components then I should specify each and every css class in purify's `whitelist` options.

[2017-03-31 12:15] bebraw commented on #91
My understanding is that purify should pick up `className` but the only way you can say for sure is by actually trying.

[2017-03-31 12:24] ankibalyan commented on #91
Thank you @bebraw
I was curious about this. I'll check and let you know.

[2017-04-04 08:06] Kikobeats commented on #73
Thanks for your time @bebraw, it works for me 😄

[2017-04-05 16:15] IAMtheIAM opened #92 "data.paths['templates'] should NOT have additional properties"
I'm getting this error:
`data.paths['templates'] should NOT have additional properties
    at Object.apply `

This is my config object for paths:
[code]
I logged the globs as I have  them and they output an array of absolute paths. What am I doing wrong here?

[2017-04-05 16:47] bebraw commented on #92
Hi,

The check is fairly strict. It generates the validation based on your configuration entries. The error says there's something extra. It would be cool to make it tell *which* ones.

[2017-04-05 16:58] IAMtheIAM commented on #92
I replaced my glob with an actual array of absolute paths (the one I got back from glob), and it still gives the same error message.

[code]
I don't see anything extra on it.

[2017-04-05 16:59] bebraw commented on #92
Hi,

Do you have an entry named `templates`? Can you paste your entry configuration?

The exact check is [here](https://github.com/webpack-contrib/purifycss-webpack/blob/master/src/schema.js#L53).

[2017-04-05 17:03] IAMtheIAM commented on #92
Hi. Maybe I misunderstood how to use the object. Really what I'm trying to do is this. From the old API in purifycss-webpack-plugin, I had:
[code]
So now that I'm trying to upgrade to the new api, I just want to get all the files in those two path globs. I thought I could make up any entry name but I guess not. How could I accomplish this?

[2017-04-05 17:06] bebraw commented on #92
If you don't want to constrain it per entry, you can pass an array of absolute paths to `paths`.

[2017-04-05 17:22] IAMtheIAM commented on #92
Thanks, I figured it out. I had to create a glob of each path, then concat them together into 1 array.

[code]

It would be nice if we could just path in two globs like we could in the old API. It would keep the code a little neater.

[2017-04-05 17:23] bebraw commented on #92
I could accept a PR for that. I decoupled glob from the API on purpose but it could be made optional (easier to consume).

[2017-04-05 17:23] #92 closed

[2017-04-05 17:50] IAMtheIAM opened #93 "Incompatible with style.css?hash"
The plugin ignores css files if they have a has attached to them.
/css/app.style.css?7ec000f0d0dbcb1dd347

If it was generated like this:
[code]

I had customized the old API to accept the hash. Will you accept a PR for this new API to accept the hash? I basically did some regex to check for it and strip the hash off, so it could process the CSS file. Unless you know of a better way...

[2017-04-05 18:01] bebraw commented on #93
Yeah, PR please.

[2017-04-05 22:01] joaovpmamede commented on #73
Just tested this and it happens without webpack.
So it's not related at all with this project.

[2017-04-05 22:23] IAMtheIAM commented on #93
I got it done, forked and committed locally but it won't push to my fork. It just hangs on "running build...passed!" Using sourceTree... any ideas?

[2017-04-05 22:27] IAMtheIAM commented on #93
[PR submitted](https://github.com/webpack-contrib/purifycss-webpack/pull/94)

[2017-04-06 04:37] bebraw commented on #73
@joaovpmamede Thanks! Please report upstream. 👍

[2017-04-06 04:37] #73 closed

[2017-04-06 10:27] Kikobeats opened #95 "Build process not finish"
I don't know why, but nowadays my webpack don't finish after ~10 mins:

[code]

I don't have too many components and, If I avoid Purify section from the production build all works fine.

My Purify configuration, as you suggested, is [this](https://github.com/windtoday/windtoday-marketplace/blob/master/webpack.config.js#L67).

Can I do something for debug the problem? Build is running with webpack

[2017-04-06 10:36] bebraw commented on #95
Hi,

There's not enough information to say anything conclusive. I would need a tiny project to look at. Maybe setting `verbose` would give some insight. One option is that it's Purify that hangs and that's something we can't fix at the plugin.

[2017-04-06 10:38] Kikobeats commented on #95
@bebraw one question, the order of the webpack plugins, is it important?

Reproduce case is:

[code]

Sorry If I don't have more information, I'm trying to understand what happens

[2017-04-06 10:40] bebraw commented on #95
Yeah, the plugin has to be **after** `ExtractTextPlugin`.

I'll check the repo. Thanks.

[2017-04-06 10:46] bebraw commented on #95
Yup, confirmed.

The build could stall if it never gets to the callback at https://github.com/webpack-contrib/purifycss-webpack/blob/3b04e3180a6b776e801708e3e608c38a09a3d6b0/src/index.js#L80 . I don't understand how that's possible, though.

I guess the next step would be reducing the example as much as possible to pinpoint the cause.

[2017-04-06 11:46] Kikobeats commented on #95
Using `purifycss-webpack@0.4.0` looks like `cb` is called, but unused styled are not remove 🤔 .

Any important change in the implementation between 0.4.0 and 0.5.0 ?

[2017-04-06 13:07] bebraw commented on #95
Here, https://github.com/webpack-contrib/purifycss-webpack/compare/v0.4.0...v0.5.0#diff-1fdf421c05c1140f6d71444ea2b27638 . It does a lookup little differently.

[2017-04-09 04:24] d3viant0ne opened #96 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-11 09:04] bebraw opened #97 "Capture and whitelist CSS Modules classes"
Currently Purify loses CSS Modules generated class names as they go through a reference. The Purify plugin should detect the class names somehow and whitelist them to avoid this problem.

[2017-04-14 04:15] bebraw commented on #97
It's possible to work around this by [whitelisting](https://github.com/webpack-contrib/purifycss-webpack#usage-with-css-modules) but a completely automatic solution would be better.

[2017-04-15 19:34] Kikobeats opened #98 "Don't remove not reference css class"
Hello,

I  have detected some styles of my boilerplate are not removed.

I isolate the problem in a branch called [bug](https://github.com/Kikobeats/react-boilerplatinum/tree/bug).

I have third party scss that compiles to css. PurifyCSS removed not used classes correctly.

But also I have css classes that I don't use. I created the class [.foo-bar](https://github.com/Kikobeats/react-boilerplatinu

[2017-04-15 19:38] bebraw commented on #98
The clue is likely in

There must be some piece of logic related to this missing. Maybe the question is, how could Purify become aware of the compiled SCSS?

[2017-04-16 10:22] Kikobeats commented on #98
but that's the point!

I have scss and webpack convert it into css.

Then I have plain css.

Purify is removing the unused css from the scss, but not the raw not used css.

[2017-04-16 15:23] bebraw commented on #98
Yeah, implementation-wise the problem is that Purify accepts files as input. This is fine as long as we are dealing with regular CSS since we can just pass paths to the files to Purify and it will pick them up.

It gets complicated when you need to preprocess. Purify still expects paths but it's this portion that needs something extra to make your use case work. Maybe we have to write a temporary

[2017-04-16 19:50] Kikobeats commented on #98
The pipeline that I uses for convert scss to css is [here](https://github.com/Kikobeats/react-boilerplatinum/blob/bug/webpack.config.js#L47).

Can I do something for be possible purify removed the unnecessary CSS?

[2017-04-16 20:08] bebraw commented on #98
Ah, like that... You would have to dig into the plugin code to tell any better. I'm extremely strapped on time these days. 😞

[2017-04-18 00:20] Kikobeats commented on #98
I found the bug!

The configuration for that was:

[code]

The problem: Even the class  `.foo-bar` is not referenced, the glob pattern match the file and the file is a referencer for hiself.

I updated for avoid include the file in the pattern with:

[code]

and that's all!

[2017-04-18 00:20] #98 closed

[2017-04-18 03:32] bebraw commented on #98
Ok, cool to hear. I wonder if there's anything that could be done to make it harder to bump into this type of issue. 😄

[2017-04-20 06:16] michael-ciniawsky opened #99 "Standardize README"

[2017-04-27 22:05] andersontr15 commented on #52
Paths currently as an array doesn't work for me. Is it not compatible trying to glob multiple directories?

[2017-04-27 22:07] bebraw commented on #52
@andersontr15 The implementation has changed a lot. The plugin doesn't come with glob anymore and it actually expects absolute paths instead. I would need some example to say anything more. Please see the verbose mode as well.

[2017-05-01 13:00] andersontr15 opened #100 "How to use this with bootstrap?"
How to use this with bootstrap and react? I'm importing bootstrap into a bundle right now.

[2017-05-01 13:13] bebraw commented on #100
How do you refer to Bootstrap classes?

[2017-05-01 13:19] andersontr15 commented on #100
With react's `className` attribute.

[2017-05-01 13:21] bebraw commented on #100
@andersontr15 Ok, as long as it's `className="foobar"` kind of style (nothing dynamic), the tooling just might pick it up. Use the `verbose` option to get more insight.

If you can't get it to work, please set up a small repository for me to study.

[2017-05-01 14:07] andersontr15 commented on #100
Yeah I was able to get it to work with bootstrap but now my css modules aren't being picked up even with whitelisting it with '*purify*'

[2017-05-01 14:51] bebraw commented on #100
CSS Modules takes some extra effort. Please see the README for details.

[2017-05-01 16:00] andersontr15 commented on #100
Got it to work. Don't know if anyone has tried this, but I had to add the .json files emitted by the `postcss- modules `to the paths array for `purifycss` to get it to work.

[2017-05-01 16:00] #100 closed

[2017-05-01 16:09] bebraw commented on #100
@andersontr15 If you have time, please make a doc PR about that. 👍

[2017-05-01 16:57] mehdi-cit opened #101 "Without the ExtractTextPugin?"
Hello!
Its's all in the question, I'd like to use the purifycss for generating the css and placing it in the html file not on a separate .css file!
Did not find an example of doing that with purifycss-webpack.
Is it possible at all?
Thx in advance

[2017-05-01 16:58] bebraw commented on #101
I haven't tried that. How do you generate the html files?

[2017-05-01 18:50] mehdi-cit commented on #101
Hello bebraw,
In the "entry point" app.js or main.js i do require/import the css file
`const css = require('../css/app.css');
`
Obviously in webpack.config, inside module.rules I do add the rule:
`{ test: /\.css$/, use:["style-loader","css-loader"] } `
In the same webpack.config file I add under resolve
`extensions: ['css', '.jsx', '.js'],`

The above configuration would insert the app.css file co

[2017-05-01 19:19] bebraw commented on #101
The problem is that the plugin has been designed to operate against files emitted by webpack.

I can accept a PR that implements a loader to achieve what you want.

[2017-05-01 20:51] mehdi-cit commented on #101
Ok, thx bebraw.
I am afraid i'm not a good candidate for such task as i can barely use webpack.
I guess I will have to manually clean the css :)

[2017-05-02 07:00] bebraw commented on #101
@mehdi-cit It's alright. Let's leave this issue open in case someone wants to tackle it.

[2017-05-04 13:30] bebraw opened #102 "Push option descriptions to JSON schema"
There should be a mechanism that would write the readme table based on the fields and their descriptions. This is likely something that should be tackled in **webpack-defaults** first.

[2017-05-04 17:32] michael-ciniawsky commented on #102
I can take a look at this soon, we could use the description(s) from `options.json` (Validation Schema) and add a new var `${options.option.desc}` to the readme task in `webpack-defaults`

**dist/options.json**
[code]

**README#Options**
[code]

[2017-05-04 17:34] michael-ciniawsky commented on #102
The `default` in `schema-utils`might be tricky since the respective option **must be** always 'set' then, but I didn't invest any time in checking out possible options eventually avoid this yet tbh 😛

[2017-05-04 17:34] bebraw commented on #102
@michael-ciniawsky Yeah, it's the same problem for each loader/plugin. We should solve this properly once, push the solution to defaults, and replicate.

[2017-05-05 19:11] JPortegijs opened #103 "Multiple paths"
Hello,

How would I include multiple paths? I have this now but gives me errors.
new PurifyCSSPlugin({
            paths: [
                glob.sync(path.join(__dirname, '*.php')),
                glob.sync(path.join(__dirname, 'partials/*.php')),
            ],
            minimize: inProduction
        }),

Any help would be appreciated!

Thanks in advance.

[2017-05-06 07:38] bebraw commented on #103
Now you have an array of arrays. It expects a flat array. Most likely you want to concatenate the result of those `glob.sync` calls or flatten it.

[2017-05-07 08:01] infantito opened #104 "React components - className"
My webpack.config has the loader purifycss and when use class names in my components react, this doesn't recognize it and clear them.

some solution?

![image](https://cloud.githubusercontent.com/assets/9045302/25778913/2f3995b0-32d1-11e7-9246-032d9c174a02.png)
![image](https://cloud.githubusercontent.com/assets/9045302/25778916/35a3ae0e-32d1-11e7-959c-13121168e55d.png)

[2017-05-07 08:12] bebraw commented on #104
PurifyCSS doesn't detect that case based on static analysis alone. Since you are using CSS Modules, it takes some extra configuration as [discussed in the readme](https://github.com/webpack-contrib/purifycss-webpack#usage-with-css-modules).

[2017-05-07 14:33] JPortegijs commented on #103
I think I found a workaround and use https://github.com/jpillora/node-glob-all instead of the regular glob. This allows me to look into multiple paths. My code looks like this now:

paths: glob.sync([
     path.join(__dirname, '*.php'),
     path.join(__dirname, 'partials/*.php')
]),

This seems to do the trick for me.

[2017-05-07 14:57] bebraw commented on #103
@JPortegijs Cool. Please PR a README fix. 👍

[2017-05-07 14:57] #103 closed

[2017-05-10 07:07] crucialfelix opened #106 "Enable/disable per entry"
purifycss-webpack@0.6.2

I see that there is a way to provide different paths per entry, but I need to completely disable purifycss for some entries.

I have an angular-js app that cannot be read by purifycss. I only want to run purifycss on one entry.

Is there a way to do this that I've missed ?

Thanks.

[2017-05-10 07:14] bebraw commented on #106
It's all or nothing right now. I could accept a PR changing this if you can propose good semantics on how to handle it.

[2017-05-10 15:53] crucialfelix commented on #106
Maybe:

[code]

I think that reads clearly. I would know fairly quickly how to use it. What do you think ?

I would have to go learn that json schema, but it doesn't look too complicated.

[2017-05-10 16:23] bebraw commented on #106
I would drop the global `disable: true` since you can handle that on configuration level.

I wonder if we could do some kind of a `include`/`exclude` array instead.

I'll try to get more input on this issue so we get the design right.

[2017-05-10 16:34] michael-ciniawsky commented on #106
Global `include /exclude` instead of `disable` is better imho 👍 `disable` globally `===`

[code]

The per `entry` config is basically 👍 , only concerns of mine are maintenance > used ? and performance

[2017-05-10 16:47] bebraw commented on #106
It's actually done already. What we would do here is to make the behavior more granular.

The more I think about it, the more a good `include`/`exclude` setup makes sense to me. That could follow webpack semantics exactly and I agree it's the way to go. Essentially that's a filtering pass before anything gets passed to Uglify.

[2017-05-10 18:14] crucialfelix commented on #106
Do you mean include [entryName,...] ?

I find that when there are multiple entries that they are all substantially different.

[2017-05-10 18:15] bebraw commented on #106
@crucialfelix Yeah, that would be a start.

[2017-05-11 12:43] crucialfelix commented on #106
I still think a disable switch is very useful. It's easy to disable for all and then enable for the few or the one. Or enable for all and just disable one.

In development I would disable it; maybe I'm using tachyons and I want all those classes available in my browser to experiment with. In production the unused ones get stripped.

`ExtractTextPlugin` uses `disable`.
`UglifyJSPlugin` uses `compre

[2017-05-12 06:50] bebraw commented on #106
The point was that it's possible to achieve the same result globally without touching the plugin. That's how everything else works in webpack ecosystem. I think we should refactor possible `disable` flags out of the existing plugins for this reason as it's a bad abstraction (negative value from plugin implementation pov + adds inconsistency since not every plugin implements it).

Please set up a p

[2017-05-12 17:05] crucialfelix commented on #106
Sorry, you've totally lost me.

Where is this `include` / `exclude` api ?

This relates to rules, but from reading this I have no idea what it is actually for:

https://webpack.js.org/configuration/module/#rule-include

I can find this:

https://webpack.js.org/concepts/output/#output-devtoollinetoline

But I don't see how this relates to configuring a plugin.

If you say that "the same result can

[2017-05-12 17:13] bebraw commented on #106
There's a piece like `search.assets` in the code. I imagine you would apply additional `.filter` where to check each asset against an `include` rule. This works if you can figure out into which entries each asset belongs to (asset might contain the info). `exclude` would be the same except inverse.

The interface could look like `include: (asset) => { ... }` to get started. If an asset contains re

[2017-05-14 19:37] scriptPilot opened #107 "Error message missing } for nested CSS"
Hey , thanks for the great piece of code!

One point - with the following CSS code, I get the error "... missing } ...":

[code]

Is there anything wrong with the CSS, as it should be allowed since CSS3 ?

Regards!

[2017-05-14 19:42] bebraw commented on #107
Can you test against Purify directly? It might not support the syntax. Maybe you could preprocess it somehow (postcss).

[2017-05-15 13:46] TheLarkInn commented on #107
Nested brackets?

[2017-05-15 13:47] #107 closed

[2017-05-16 13:18] newtriks opened #108 "uglifyjs depreciation breaks build"
Based on this libs dependency on `purifycss`, `uglifyjs` depreciation breaks build. See:

1. https://github.com/purifycss/purifycss/issues/159
2. https://github.com/mishoo/UglifyJS2/issues/936#issuecomment-301620396

[2017-05-16 13:22] bebraw commented on #108
There's not much I can do about that in this plugin. Maybe better wait until Purify gets fixed.

[2017-05-16 13:24] newtriks commented on #108
@bebraw yup, agreed. I wanted to ensure it was reported and visible to others digging through dependencies of dependencies trying to work out the path to the original error 😃

[2017-05-16 13:46] kasperlewau commented on #108
https://www.npmjs.com/package/purify-css

Purify has been fixed & bumped to 1.2.1

[2017-05-16 13:48] bebraw commented on #108
@newtriks Can you close this issue once you check against the new version?

[2017-05-16 14:03] newtriks commented on #108
@bebraw yup 👍

[2017-05-16 14:35] rafaeleyng commented on #108
I'm having the same issue, what is the recommended solution?

[2017-05-16 14:36] bebraw commented on #108
@rafaeleyng Which version of Purify are you using? I cannot fix the issue here but they published a fixed version.

[2017-05-16 14:39] rafaeleyng commented on #108
I'm using:

[code]

I understand that they published a fixed version, but I'm not sure how to use that since my dependency of purify-css is through purifycss-webpack

[2017-05-16 14:40] evilebottnawi commented on #108
@rafaeleyng try to use `npm cache clear` and reinstall `node_modules`

[2017-05-16 14:41] bebraw commented on #108
@rafaeleyng Ok, I think I'll push Purify as a peer dependency so you can specify the exact version.

[2017-05-16 14:46] bebraw commented on #108
Just pushed it to peer dependency. @evilebottnawi's advice is valid too but it's better to manage this through a peer.

[2017-05-16 14:47] rafaeleyng commented on #108
@bebraw Are you going to make a npm release? I'm not sure what should I do

[2017-05-16 14:54] bebraw commented on #108
@rafaeleyng Already done. Does it still fail for you?

[2017-05-16 16:55] rafaeleyng commented on #108
@bebraw I'm really confused now.

As shown in my comment above, I'm using `purifycss-webpack-plugin@2.0.3`. I just checked https://www.npmjs.com/package/purifycss-webpack-plugin and the latest release there is `2.0.3`. The link to the git repo in that page refers to this repo, but here the latest version (that was generated 2 hours ago) is 0.8.0. It seems to be 2 unrelated libraries, but the npm p

[2017-05-16 16:59] rafaeleyng commented on #108
I just saw that this package also exists https://www.npmjs.com/package/purifycss-webpack, that seems to be the correct. Trying this one instead.

[2017-05-16 17:00] bebraw commented on #108
@rafaeleyng [purifycss-webpack-plugin](https://www.npmjs.com/package/purifycss-webpack-plugin) is something separate (deprecated). I had to rename a plugin to continue its development (the original author disappeared and npm took four weeks to transfer, I needed the plugin sooner than that).

[2017-05-16 17:59] rafaeleyng commented on #108
@bebraw It seems to work now. I'm having configuration problems now, but the installation seems to be working fine. Thanks!

[2017-05-16 18:03] bebraw commented on #108
@rafaeleyng The configuration is very different, yeah.

Time to close this.

[2017-05-16 18:03] #108 closed

[2017-05-22 06:56] jlzhang-zy opened #109 "peerDependencies WARNING purifycss-webpack@0.7.0"
When I upgraded purifycss-webpack to 0.7.0, I got this error:

peerDependencies WARNING purifycss-webpack@0.7.0 requires a peer of purify-css@>                       = 1.0.0 < 2.0.0 but none was installed

@bebraw

[2017-05-22 07:07] michael-ciniawsky commented on #109
@jlzhang-zy Did you install `purify-css` within this semver range? It's up to the user to handle the version of `purify-css` in use

[2017-05-22 07:23] bebraw commented on #109
Please see [the changelog](https://github.com/webpack-contrib/purifycss-webpack/blob/master/CHANGELOG.md#070--2017-05-16).

[2017-05-22 07:23] #109 closed

[2017-05-22 07:27] jlzhang-zy commented on #109
@michael-ciniawsky @bebraw thank you guys!

[2017-05-22 20:07] TheLarkInn opened #110 "Support Purifying on a per-Entrypoint basis"
### Current Behavior
Currently when using `purifycss-webpack` with multi-entry (aka multi-page app) builds, the `paths` option is applied against every `Entrypoint`.

In multi-page app builds this can lead to unnecessary overhead as there may be a distinct set of `paths` on a per entry basis.

### Desired Behavior
Paths can be configured on a per `Entrypoint` basis. Therefore if entryA only uses p

[2017-05-25 06:14] crucialfelix commented on #110
Same as this: https://github.com/webpack-contrib/purifycss-webpack/issues/106

What I suggested there would allow you to easily override any and all settings (paths, purifyOptions, disable) per entry.

I think it is actually easier to think about then what you show above (where each settings eg. `paths` gets it's own callback.

It could also be implemented in only a few lines of code.

[2017-05-27 18:11] vitosamson opened #111 "Styles imported in an async split bundle are incorrectly filtered out"
Minimal repro project: https://github.com/vitosamson/purifycss-webpack-repro.

There are two entry points: `src/split` and `src/not-split`. Both pull in `src/Child`, but `split` does so via `require.ensure` for async code splitting. `Child` imports `react-select`'s css.

The split css bundle for some reason is 3kb smaller than the non-split bundle. One example of a missing css rule is `.Select-arr

[2017-05-28 16:35] vitosamson commented on #111
After a little digging I've found the following:

  - `src/Child.js` is never included in `filesToSearch` [here](https://github.com/webpack-contrib/purifycss-webpack/blob/master/src/index.js#L52)
  - this is probably due to `Child` being in a different chunk (it's not in the main chunk's `files`)
  - the `Child` chunk *is* included in `compilation.chunks` [here](https://github.com/webpack-contrib/

[2017-05-31 19:13] IAMtheIAM opened #112 "TypeError: Cannot read property 'node' of undefined"
Using `    "purifycss-webpack": "0.7",`

When Compiling with these options
[code]

I suddenly get this error:
[code]

[2017-06-01 07:34] stephan-v commented on #103
Example not working for me, the CSS simpy isn't being built when I try to use an array. Otherwise it works fine.

[2017-06-01 07:38] bebraw commented on #103
@stephan-v Can you open a separate issue? There's not enough information to debug.

[2017-06-01 07:42] stephan-v commented on #103
@bebraw I have create a stackoverflow post since I think that was preferred in another issue:

https://stackoverflow.com/questions/44301416/purifycss-webpack-not-creating-css-output-with-multiple-paths

[2017-06-07 10:08] GertTimmerman opened #113 "Classes in Media Queries ignored"
I have a clean project, i have installed bulma css which i import into a less file. When i run webpack, all the classes within media queries are ignored. I have googled it, and i found this bug in purifycss, but that bug is fixed in version 1.0.15

I am user purify-css version 1.2.6, purifycss-webpack version 0.7.0. Here is my code:

main.less
`@import "../../node_modules/bulma/css/bulma.css";`

w

[2017-06-15 10:39] james-s-turner opened #116 "Enhancement - Scan javascript chunk output for classnames"
I have a number of react apps that use a shared component library. Each app uses a different subset of the shared library. In each apps webpack config I have to hardcode the paths of the shared components the app uses. Effectively I am duplicating the work that webpack does navigating the dependency tree.  Would it be possible to scan the output from webpack (effectively the emitted js chunks) for

[2017-06-21 15:58] jpuck opened #117 "content hash doesn't change when content changes"
purifycss-webpack: ^0.7.0
purify-css: 1.2.5
node v7.5.0
npm 4.1.2

The contenthash is unreliable for cache breaking because it's calculated on the source css, so if the source html changes such that the purifier includes different content into the build, then the contenthash remains the same despite the fact that the file contents are now actually different.

[Here is a repository to demonstrate t

[2017-06-26 16:34] gw0 commented on #113
Same happens for me using Bulma and Vue.js.

[2017-06-26 19:33] gw0 commented on #75
I think that the problem could be that `glob.sync()` is evaluated before Webpack generates those files (that could contain a hash or other non-static name).

[2017-06-27 04:59] gw0 commented on #113
I tracked the problem down to *purify-css* not handling `:not` correctly. The problematic media query in Bulma that gets removed:

[code]

[2017-06-27 04:59] gw0 commented on #113
Upstream issue: https://github.com/purifycss/purifycss/issues/161

[2017-07-10 02:35] zekida commented on #116
i actually think this should be the default behavior with an option to disable it.
it would free users from extra work to add globs for UI framework dependencies, and would probably be the most 'general use case' of this plugin.. or am I missing something?
it should work very nicely with properly tree-shaken chunks too.

[2017-07-27 12:13] nealoke opened #118 "Removes classes used in node_module react plugin"
Everything works great except for the fact that it removes classes which are used in a `node_modules` plugins.

**My config**
[code]

**Plugins**
The plugins it removes the styling for are [`react-select`](https://github.com/JedWatson/react-select) and [`react-day-picker`](https://github.com/gpbl/react-day-picker). None of the classnames used in these plugins are kept when using `purifycss-webpack

[2017-07-27 17:20] jmahc commented on #118
I had just asked this question to @bebraw on a [twitter thread visible here[(https://github.com/gaearon/redux-devtools/blob/64f58b7/examples/todomvc/index.js).

[2017-07-27 18:28] nealoke commented on #118
@jmahc is it correct it goes to a github page? :)

[2017-07-27 19:58] jmahc commented on #118
Hahaha! I copied the wrong thread... [Here is what I meant](https://twitter.com/j_mahc/status/889650766503399425)

[2017-08-03 13:11] Cobrarosa opened #119 "Trouble with class names containing numerals"
OS: Windows 10
Node: v6.9.5
Webpack: 3.4.1

New to webpack. Trying PurifyCSS. Using class-names with numerals in .scss files will be compiled in the .css file, regardless if the class is present in the template files or not.

Example in template
`<div class="test"></div>`

Example in .scss file
`.test2 { color: red }`

Output in .css file
`.test2 { color: red }`

However, changing the .scss to "te

[2017-08-07 10:31] johankvint opened #120 "Webpack 3 Chunk.modules deprecation"
Hi,

Webpack 3 have deprecated the `chunk.modules` attribute and when I build I get the following warning from webpack.

I'm using `webpack 3.4.1` and `purifycss-webpack 0.7.0`.

[code]

If I change this part in the npm package file `dist/index.js`:
[code]
to use chunk.mapModules instead:
[code]

The warning disappears.

[2017-08-08 01:42] tony commented on #120
@johankvint that's worth making a PR for

[2017-08-17 04:39] tony commented on #117
I can't recreate it, but can confirm that while the size of files changes, [hash] isn't.

And I can't isolate if it's this module or not, but think it is.

[2017-08-17 11:56] anlexN opened #121 "parseQuery will be replaced with getOptions"
![loader-runner](https://user-images.githubusercontent.com/8686739/29411050-d91a38aa-8385-11e7-8297-178351e3c026.PNG)
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and

[2017-09-08 10:21] ansonxing168 opened #122 "purify css in typescript react project"
I'm using **typescript, react and webpack** to build projects, and use your purifycss plugin, but it doesn't work. Because I haven't found any example in my situation, therefore, could you please provide some example for me? Many thanks!

[2017-09-12 09:51] iamanoopc opened #123 "Too much css class rules getting stripped out"
Check out this repo
[REPO](https://github.com/iamanoopc/debloat-bootstrap)

![screen1](https://user-images.githubusercontent.com/10864338/30319383-4d308d6e-97e2-11e7-91fd-23b13ccdbd16.JPG)
![screen2](https://user-images.githubusercontent.com/10864338/30319398-54448d12-97e2-11e7-9b05-f5f4ae3565ae.JPG)

I think it is self explanatory, clone the repo and run `npm install && webpack`.
Then uncomment t

[2017-09-28 02:48] mradambeck commented on #106
Any update on this? It would be great if there was any way at all to match entry/split points to paths. A lot of treeshaking can be done with CSS modules, but if you're not generating your HTML via JS, that's not an option, and something like this would be great. For my use case, even if we could just refer to the chunk name in the path declaration or something it could work.

[2017-10-05 17:33] DracotMolver commented on #123
In your code you are extrancting only files ended in .scss

[2017-10-05 17:39] DracotMolver opened #124 "Same classes by different html"
I realized that all my separeted files have the same sizes and using the Chrome Coverage option, I saw that I had some classes that I don't use in one HTML file but I'm doing in another file.
To understand better:

**webpack.config.js**
[code]
With this configuration, everything works fine... I mean I've got no errors bundling, extracting and so on. The result from webpack is:

**output console**

[2017-10-13 11:41] #123 closed

[2017-10-22 14:44] np-8 opened #125 "Too much purified when using Reactstrap with PurifyCSS"
## Setup
I am using the following packages:

[code]
I am importing the bootstrap css in the entry point (index.jsx) by `import 'bootstrap/dist/css/bootstrap.css'.` I am running webpack 3.8.1 on Windows 10 machine.

## Problem description
When using a simple Button element from the [reactstrap](https://reactstrap.github.io/) package, the '`btn`' and '`btn-primary`' CSS classes are removed from the

[2017-11-05 01:17] zackkrida commented on #119
FYI this is an outstanding with the core purifycss library:

- https://github.com/purifycss/purifycss/issues/147#issuecomment-319375939
- https://github.com/purifycss/purifycss/issues/118

[2017-11-05 03:28] michael-ciniawsky commented on #119
@Cobrarosa See @zackkrida's comment. @zackkrida Thx 👍

[2017-11-05 03:28] #119 closed

[2017-12-12 12:30] Root-Core opened #127 "Plugin can not handle paths in the output dir"
Hello there,

it would be really useful to use later emitted output files (assets) for "traverse". Currently you need to run the build twice to accomplish an correctly purify'd build. If you want to keep your build as clean as possible, you might copy some assets and handle everything else by webpack into a clean, empty output folder.

Example:
1. Build: If you use a glob on the output path for `p

[2018-01-06 16:16] stephanpelikan commented on #122
I'm on to write a Maven Archetype (a template for Java projects) which uses typescript, **P**REACT and webpack. I'm [struggeling with PurifyCSS](https://stackoverflow.com/questions/48076411/webpack-purfiycssplugin-does-not-include-styles-referenced-by-bundle-js) but the rest works. Maybe it can help you: https://github.com/stephanpelikan/javaee-preact-archetype.

[2018-01-21 07:52] stephanpelikan commented on #127
I posted a question regarding the same effect and did not get an answer:

https://stackoverflow.com/questions/48076411/webpack-purfiycssplugin-does-not-include-styles-referenced-by-bundle-js

I least in my situation it seems that PurifyCSS does not take generated bundles into account. As far as I known the bundles are only present in memory until to end of webpack processing. Maybe there is a poss

[2018-01-25 21:15] galvarez421 commented on #112
I also received this same error after assigning a value to the output property.

[2018-02-15 16:57] m33toh opened #130 "Only parsing the first required css file"
Hello, this is my first issue filling. I hope to do it alright.

So the problem I've found is that when using the PurifyCSSPlugin I only get on the output file the information from the first css file I'm requiring in my main entry js file. If I comment it out the and only use the ExtractTextPlugin, the output has all the info needed. Also, if I comment out the requirement of the first css file in

[2018-02-20 23:53] garygreen commented on #130
Same problem for me.

[2018-02-27 23:10] Xesenix commented on #127
Passing glob paths that glob before webpack even starts is kind of stupid and may works only on static files. I would suggest adding possibility to pass callback for running glob after webpack plugins finish running.

[2018-03-27 11:56] Sparki2002 opened #131 "mdi removed"
Hi,

i'm using vue and mdi with this config:
[code]

Something importing mdi is rejected by the plugin so I can't see my icons.
I already tried listing all rejected css properties, but nothing looks like mdi.

[2018-03-28 12:58] chacestew commented on #118
We are running into this exact issue, but the twitter links above are dead! Could you update with an explanation of how you fixed it here?

[2018-03-28 15:39] IgnusG commented on #118
You need to whitelist the (react) modules you are using:

[code]

[2018-03-29 09:11] chacestew commented on #118
Thanks @IgnusG - Is this the only way to parse node modules? Using `moduleExtensions` doesn't seem to have an effect.

Regarding the whitelist, we've had to move to PurgeCSS for the regex patterns so that we could properly whitelist classes with uppercase letters.

[2018-03-30 08:50] chacestew commented on #118
I was hoping there was an easier way to make purifycss also recursively parse all imported React libraries. Whitelisting all the styles for each library adds manual steps and means none of those styles will be optimised. From the documentation this seemed like a benefit purifycss brought, but we haven't had it work correctly yet (seems to preserve only a random subset of the class names used by th

[2018-04-02 13:45] otroboe commented on #69
Hello there !
Any news from this issue ? I'm using [Blueprint](http://blueprintjs.com/), and I have the same issue.
I have only some of the CSS classes, not all of them, it's quite weird.

[2018-04-02 13:49] otroboe commented on #69
Are these issues related ?
https://github.com/webpack-contrib/purifycss-webpack/issues/125
https://github.com/webpack-contrib/purifycss-webpack/issues/130

[2018-04-07 10:56] KerimG commented on #113
I think this issue is still not fixed, because PurifyCssPlugin still removes way too much Bulma CSS code.

I tried using the 'whitelilst' option but then my webpack build fails.

[2018-05-04 02:54] Congeek opened #132 "can purifycss-webpack work with happypack?"
i try to use purifycss-webpack with happypack，but it almost remove all used css rule，here is my config
(happypack 4.0.0, purify-css 1.2.5，purifycss-webpack 0.7.0

[code]

[code]
[code]

[2018-05-07 02:38] #132 closed

[2018-05-09 14:22] sandrosimas opened #133 "Support for React (typescript) with inline CSS, is this possible?"
I have a React project (typescript) that bundles to a single JS file including everything. PurifyCSS webpack plugin is not working as expected.
The following is the relevant code of my Webpack config:
[code]
[code]
This project doesn't have HTML files, only Typescript and Less files.
How to use PurifyCSS in this case? This only works using ExtractTextPlugin?

[2018-05-09 14:30] sandrocsimas commented on #133
It seems the plugin only read the output files. Is there a way to use it as a loader?
The purifycss should be applied after "css-loader" of "style-loader".

[2018-05-14 14:37] pldg opened #134 "whitelist a camel case class not working"
Not working:

`whitelist: ['*doNotRemove*']`

[code]

This works fine:

`whitelist: ['*do_not_remove*']`

[code]

[2018-05-18 09:19] Jessie-c opened #135 "The packaged CSS file is just the body style？why?"
webpack.config.js

const glob = require('glob');
const PurifyCSSPlugin = require("purifycss-webpack");

plugin:
new PurifyCSSPlugin({
      paths: glob.sync(path.join(__dirname, 'src/*.html')),
})
The packaged CSS file is just the body style？why?

[2018-05-22 14:33] bencripps opened #136 "Error when parsing Inline SVG"
I believe PurifyCSS is having an issue parsing CSS, where we use an `data:image/svg` as the background URL. I've run it through the CSS validator, and it looks like the CSS is valid, however, I receive the following error when using this webpack plugin. When I remove the SVG from our code, the plugin works as expected.

Here is my implementation, in my webpack.config:

[code]

Here is the raw CSS

[2018-05-24 08:01] #135 closed

[2018-06-05 11:04] joacim-boive opened #137 "DeprecationWarning: Tapable.plugin is deprecated"
Webpack 4
purifycss-webpack 0.7.0

[code]

[2018-06-20 22:46] #99 closed

[2018-07-07 03:01] zaguiini opened #138 "Not removing unused classes properly"
Versions:
`"purify-css": "^1.2.5",
"purifycss-webpack": "^0.7.0"`

I'm trying to purify CSS modules, but unused classes are being exported as well. Yes, I did everything that is stated in the README:

weback.config.js
[code]

App.css file:
[code]

App.js:
[code]

But when I run the build, I get the `unused-class` exported as well, even though I'm obviously not using it 😖

main.css (output):
[code]

[2018-07-07 03:33] zaguiini commented on #138
Ok, so... Messing around I've found that with this config:

[code]

It removes things, but removes way too much:

[code]

And the damned `.unused-class` is still there... WTF

[2018-07-17 20:39] oller commented on #134
I'm encountering this issue too...

Seems like it's potentially still an issue with purifycss itself, not the webpack plugin: https://github.com/purifycss/purifycss/issues/145

The fact a PR to solve this has remained unmerged, it seems like purifycss might not be actively maintained anymore.

I can't rename third party lib css files, so need some sort of solution.  How did you get around this @pl

[2018-07-19 07:56] 823844596 commented on #138
@zaguiini  hi, did you solve it?  i met the same issue....

[2018-07-19 07:59] 823844596 commented on #138
the version of them are purify-css 1.2.5 and purifycss-webpack 0.7.0.

[2018-07-19 09:55] 823844596 commented on #138
en. thx,  i also use the example in the project,  and the example code doesn't remove unused class...

[2018-08-24 18:33] #137 closed

[2018-08-30 11:36] ovidijusr opened #140 "Failed to import with webpack"
Getting `**Error: Cannot find module '../lib/utils.js**`

When trying to import

Code:
const purify = require("purify-css")
(and)
import purify from 'purify-css';

Both gives same error
node version: v10.6.0

[2018-09-04 11:55] bear-new opened #141 "Error: data.paths is a required property"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for support related quest

[2018-09-04 11:57] bear-new commented on #141
webpack.config.js
[code]
// cssloader
[code]

[2018-09-04 11:58] bear-new commented on #141
![image](https://user-images.githubusercontent.com/24503317/45029942-d6bddb00-b07c-11e8-82fb-841563567fc7.png)

[2018-09-05 12:13] bear-new commented on #141
I have found the reason, you must add the paths attribute。
[code]

[2018-09-05 12:13] bear-new commented on #141
I have found the reason, you must add the paths attribute。

new PurifyCSSPlugin({
            paths: glob.sync(path.join(__dirname, '../src/components/popup/index.jsx')),
            styleExtensions: ['.css', '.pcss', '.scss'],
            purifyOptions: {
              whitelist: ['*purify*']
            }
        })

[2018-09-05 12:13] #141 closed

[2018-10-03 12:37] josephcsible opened #142 "mini-css-extract-plugin instead of extract-text-webpack-plugin"
As of webpack-contrib/extract-text-webpack-plugin@0b69b72, the use of extract-text-webpack-plugin for CSS is deprecated in favor of [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin). We need to update our documentation and examples to use the latter instead of the former.

[2018-10-03 12:37] evilebottnawi commented on #142
PR welcome

[2018-10-17 15:52] GuilhemBarboux opened #144 "Purifycss and ">" css operator"
Hi,
does Purifycss remove lines with ">" css operator ?

I have this code on my project (from zurb/foundation) :

`.grid-margin-x > .cell {...}`

and i never used '.grid-margin-x', but i used '.cell'. After purify, the previous css rule still present.

purify-css : 1.2.5
node : 8.11.3

[2018-10-17 15:54] #144 closed

[2018-10-17 18:19] Nibor808 opened #145 "removing .form-control from output file (styles.css)"
`versions:  "purify-css": "^1.2.5", "purifycss-webpack": "^0.7.0"`

Without purify:
![screen shot 2018-10-17 at 2 11 03 pm](https://user-images.githubusercontent.com/14239614/47107145-8bb7eb80-d216-11e8-9a88-ce79b685f665.png)

![screen shot 2018-10-17 at 1 59 37 pm](https://user-images.githubusercontent.com/14239614/47106598-02ec8000-d215-11e8-8f0f-ea568a61edd5.png)

After purify:
![screen shot 20

[2018-10-22 22:21] atdiff opened #146 "Still active? Or alternative?"
Looks like the last commit was 10 months ago. Is this project still active and recommended to be used for cleaning up unused CSS in webpack projects? Or is there an alternative that is suggested?

[2018-11-06 21:29] webdeveloperpr commented on #138
This plugins is useless when using css modules. It includes everything.

[2018-11-07 11:40] khyamay commented on #146
This one seems to be active [PurgeCss](https://github.com/FullHuman/purgecss-webpack-plugin)

[2018-11-07 11:42] evilebottnawi commented on #146
There are no contributors here. Looks better use https://github.com/FullHuman/purgecss-webpack-plugin, we can archive with repository to avoid misleading.

[2018-11-19 09:59] ruralist-siyi opened #147 "webpack4 : mini-css-extract-plugin and purifycss-webpack will :DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for support related quest